/* Normalise CSS  */

html , body{
    background-color: black;
    padding: 0;
    margin : 0;
    font-family: Helvetica, Arial, sans-serif;
}


/* Header */
header{
    background-color: transparent;
    
}

.container{
    width: 100%;
    max-width: 1242px;

}

.header-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.left-cont, .right-cont{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    /* display: none; */
}

.brand{
    max-width: 100px;
}

.nav-item{
    color: white;
    margin-right: 20px;
    color:#e5e5e5;
}

.nav-item.activ{
    color:white
}

.right-cont svg{
    color:white;
}

.right-cont svg,img{
    margin-right: 22px;
}

.right-cont img{
    max-width: 36px;
}